/datasets/11khands
/datasets/HD
/loss/__pycache__
/datasets/__pycache__
/engine/__pycache__
/models/__pycache__
/datasets/__pycache__
*.pth
/datasets/__pycache__
/datasets/__pycache__
*.pyc
*.pyc
*.pyc
*.pyc
experiments/run_eval_clip.py
experiments/stage0_baseline_inference/eval_baseline_clip.py
*.pyc
/11k
/HD
.idea/
/.venv
/.idea
/.idea
