/datasets/11khands
/datasets/HD
/utils/loss/__pycache__
/datasets/__pycache__
/engine/__pycache__
/models/__pycache__
/datasets/__pycache__
*.pth
/datasets/__pycache__
/datasets/__pycache__
*.pyc
*.pyc
*.pyc
*.pyc
experiments/run_eval_clip.py
experiments/stage1_baseline_inference/eval_baseline_clip.py
*.pyc
/11k
/HD
.idea/
/.venv
/.idea
/.idea
clip_fh_v4.zip
/configs/archived
/configs/train_stage2_clip_reid/archive
/engine/archived
/eval_logs/archived
/experiments/archived
/train_logs/archived
/models/archived
